<div class="profile_all">
  <div class="common_head_cover">
    <div class="common_head">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            defaultHref="/"
            text=""
            icon="chevron-back-outline"
          ></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons
          slot="end"
          [routerLink]="['/notification']"
          routerLinkActive="router-link-active"
        >
          <img src="assets/images/head_noti.png" alt="" />
          <span>2</span>
        </ion-buttons>
      </ion-toolbar>
      <h1>Refer & Earn</h1>
    </div>
  </div>
  <div class="common_details_back wallet">
    <ion-card>
      <ion-card-content>
        <div class="wallet_icon">
          <ion-icon name="cash-outline"></ion-icon>         
          </div>
          <div class="clear">
          <div class="text_area">
            <h6>Total Earnings</h6>
            <span>$200.00</span>
            <div class="clear"></div>
            <h5>Your Code: 2342340<br><span>Get $100 when your friend completes a trip with us</span></h5>
          </div>
          <div class="clear"></div>
          <ul class="social">
            <li><a href=""><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-whatsapp"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-linkedin"></ion-icon></a></li>
          </ul>
          <h4>Your Link: <a href="">www.bus.com/refer/234556F</a></h4>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>