.common_details_back{
    &.wallet{
        width: 100%; text-align: center;
    }
    ion-card-content{
        padding: 4rem 0; color: #fff;
    }
    .wallet_icon{
        width: 12rem; height: 12rem;  border-radius: 100%; margin: 0 auto; margin-bottom: 3rem; display: flex; align-items: center; justify-content: center; color: #fff; background-color: #000;
        ion-icon{
            width: 5rem; height: 5rem;
        }
    }
    .text_area{
        width: 100%;
        ion-icon{
            width: 3rem; height: 3rem; margin-right: 1rem; display: inline-block; vertical-align: middle;
        }
        span{
            font-size: 3rem;  display: inline-block; vertical-align: middle;
        } 
        h5{
            margin-top: 1.5rem;
            span{
                font-size: 1.3rem;
            }
        }
    }
    ul{
        &.social{
            width: 100%; text-align: center; margin: 4rem 0 0 0; padding: 0;
            li{
                display: inline-block; list-style: none; margin-right: 1rem;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    color: #fff;
                }
                ion-icon{
                    width: 3rem; height: 3rem;
                }
            }
        }
    }
    h6{
        font-size: 1.5rem;
        a{
            color: #f7f7f7;
        }
    }
    
}