<div class="common_details_back">
  <ion-card>
    <ion-card-header>
      <ion-card-title>New Delhi to Mumbai</ion-card-title>
      <ion-card-subtitle>27 May - 2019</ion-card-subtitle>        
    </ion-card-header>    
    <ion-card-content class="decline">Decline<ion-icon name="close-circle-outline"></ion-icon></ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mumbai to Pune</ion-card-title>
      <ion-card-subtitle>27 May - 2019</ion-card-subtitle>        
    </ion-card-header>    
    <ion-card-content class="decline">Decline<ion-icon name="close-circle-outline"></ion-icon></ion-card-content>
  </ion-card>
</div>
