<div class="login_content_back" *ngIf="!showOtp">
  <div class="head">
    <h1>Welcome to</h1>
    <img src="assets/images/main-logo.png" alt="" />
  </div>
  <div class="details_back">
    <form action="">
      <div class="label_back">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-select value="+91" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="+91">+91</ion-select-option>
                <ion-select-option value="+376">376</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="9">
              <ion-input
                type="number"
                name="mobile"
                [(ngModel)]="mobile"
                placeholder="Enter Mobile Number"
              ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-button
        expand="block"
        color="custom"
        shape="round"
        routerLinkActive="router-link-active"
        (click)="sendOtp(false)"
      >
        Continue
        <img src="assets/images/submit-arrow.png" alt="" />
      </ion-button>
    </form>
  </div>
</div>

<div class="verification_content_back" *ngIf="showOtp">
  <div class="common_head">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <h1>Verification</h1>
  </div>
  <div class="common_details_back">
    <img src="assets/images/verification.svg" alt="" />
    <p>
      Enter your <span>VERIFICATION CODE</span><br />we have just sent you on
      your mobile number
    </p>
    <div class="opt_details">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input
              type="number"
              [placeholder]="util.getString('Enter Otp')"
              name="otp_value"
              [(ngModel)]="otp_value"
            ></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="clear"></div>
    <ion-button
      expand="full"
      class="resend"
      fill="clear"
      (click)="sendOtp(true)"
      >Re-Send</ion-button
    >
    <div class="clear"></div>
    <ion-button expand="full" class="verify" fill="clear" (click)="verifyOtp()"
      ><ion-icon name="chevron-forward-outline"></ion-icon
    ></ion-button>
  </div>
</div>
