<div class="profile_all">
  <div class="common_head_cover">
    <div class="common_head">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button
            defaultHref="/"
            text=""
            icon="chevron-back-outline"
          ></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons
          slot="end"
          [routerLink]="['/notification']"
          routerLinkActive="router-link-active"
        >
          <img src="assets/images/head_noti.png" alt="" />
          <span>2</span>
        </ion-buttons>
      </ion-toolbar>
      <h1>Help & Support</h1>
    </div>
  </div>
  <div class="common_details_back">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-input type="text" placeholder="Enter Contact Number"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-input type="email" placeholder="Enter Your Email ID"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-textarea placeholder="Drescription"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>  
    </ion-card>
    <div class="button_back">
      <ion-button expand="block" color="custom" shape="round" (click)="createOrder()">Submit</ion-button>
    </div>
  </div>
</div>
