<div class="wrapper">
  <div class="title_back">
    <h1>Hi, John</h1>
    <h2>Where would you like to go?</h2>
  </div>
  <div class="book_now_cover">
    <ion-slides
      pager="false"
      [options]="slideOptsBooking"
      *ngIf="!bookSelected"
    >
      <ion-slide>
        <div class="details">
          <h3>New Delhi to Mumbai</h3>
          <ion-button
            expand="block"
            color="custom"
            shape="round"
            (click)="cardBookNow()"
          >
            Book Now
            <img src="assets/images/submit-arrow.png" alt="" />
          </ion-button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="details">
          <h3>New Delhi to Mumbai</h3>
          <ion-button
            expand="block"
            color="custom"
            shape="round"
            (click)="cardBookNow()"
          >
            Book Now
            <img src="assets/images/submit-arrow.png" alt="" />
          </ion-button>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="details">
          <h3>New Delhi to Mumbai</h3>
          <ion-button
            expand="block"
            color="custom"
            shape="round"
            (click)="cardBookNow()"
          >
            Book Now
            <img src="assets/images/submit-arrow.png" alt="" />
          </ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- <div class="search_bar_cover" *ngIf="!bookSelected">
    <div class="searcbar_content_back">
      <form action="">
        <div class="input_back">
          <ion-input
            [(ngModel)]="busFilter.start"
            name="start"
            placeholder="From City"
          ></ion-input>
          <ion-input
            [(ngModel)]="busFilter.end"
            name="end"
            placeholder="To City"
          ></ion-input>
        </div>
        <ion-button fill="clear"
          ><img src="assets/images/submit.png" alt=""
        /></ion-button>
      </form>
    </div>
  </div> -->

  <div class="sub_wrap">
    <div class="ultra_wrap">
      <ul class="category_tab_menu" *ngIf="bookSelected">
        <li (click)="acClick()" [class.active]="active">
          <a href="javascript:void(0)">
            <div class="icon_back">
              <img src="assets/images/t1.png" alt="" />
            </div>
            AC
          </a>
        </li>
        <li (click)="nonAcClick()" [class.active]="active2">
          <a href="javascript:void(0)">
            <div class="icon_back">
              <img src="assets/images/t2.png" alt="" />
            </div>
            Non Ac
          </a>
        </li>
        <li (click)="sleeperClick()" [class.active]="active3">
          <a href="javascript:void(0)">
            <div class="icon_back">
              <img src="assets/images/t3.png" alt="" />
            </div>
            Sleeper
          </a>
        </li>
        <li (click)="seaterClick()" [class.active]="active4">
          <a href="javascript:void(0)">
            <div class="icon_back">
              <img src="assets/images/t4.png" alt="" />
            </div>
            Seater
          </a>
        </li>
      </ul>
      <div class="location_details_back">
        <h4>Where do you want to go?</h4>
        <form action="">
          <ion-grid *ngIf="bookSelected">
            <ion-row>
              <ion-col size="7">
                <div class="details">
                  <div class="icon-back">
                    <img src="assets/images/s1.png" alt="" />
                  </div>
                  <ion-datetime
                    displayFormat="YYYY-MM-DD"
                    pickerFormat="YYYY-MM-DD"
                    [(ngModel)]="busFilter.date"
                    min="2021"
                    max="2031"
                    name="date"
                  ></ion-datetime>
                </div>
              </ion-col>
              <ion-col size="5">
                <div class="details">
                  <div class="icon-back">
                    <img src="assets/images/s2.png" alt="" />
                  </div>
                  <ion-select
                    value="1"
                    okText="Okay"
                    cancelText="Dismiss"
                    name="total_seats"
                    [(ngModel)]="busFilter.total_seats"
                  >
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="6">6</ion-select-option>
                    <ion-select-option value="7">7</ion-select-option>
                    <ion-select-option value="8">8</ion-select-option>
                    <ion-select-option value="9">9</ion-select-option>
                    <ion-select-option value="10">10</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button
            *ngIf="bookSelected"
            expand="block"
            color="custom"
            shape="round"
            (click)="findBus()"
          >
            find bus
            <img src="assets/images/submit-arrow.png" alt="" />
          </ion-button>
        </form>
        <div class="main_location_back">
          <ion-slides pager="false" [options]="slideOptsLocation">
            <ion-slide>
              <div class="main">
                <div class="clock_back">
                  <img src="assets/images/clock.png" class="clock" alt="" />
                </div>
                <div class="portion">
                  <h5>New Delhi - Mumbai</h5>
                  <div class="details">
                    <ul>
                      <li>28-5-20</li>
                      <li><img src="assets/images/t3.png" alt="" /></li>
                      <li>2</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="main">
                <div class="clock_back">
                  <img src="assets/images/clock.png" class="clock" alt="" />
                </div>
                <div class="portion">
                  <h5>New Delhi - Mumbai</h5>
                  <div class="details">
                    <ul>
                      <li>28-5-20</li>
                      <li><img src="assets/images/t3.png" alt="" /></li>
                      <li>2</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="main">
                <div class="clock_back">
                  <img src="assets/images/clock.png" class="clock" alt="" />
                </div>
                <div class="portion">
                  <h5>New Delhi - Mumbai</h5>
                  <div class="details">
                    <ul>
                      <li>28-5-20</li>
                      <li><img src="assets/images/t3.png" alt="" /></li>
                      <li>2</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="main">
                <div class="clock_back">
                  <img src="assets/images/clock.png" class="clock" alt="" />
                </div>
                <div class="portion">
                  <h5>New Delhi - Mumbai</h5>
                  <div class="details">
                    <ul>
                      <li>28-5-20</li>
                      <li><img src="assets/images/t3.png" alt="" /></li>
                      <li>2</li>
                    </ul>
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>

      <div class="card_slide_back">
        <ion-slides pager="false" [options]="slideOptsOffar">
          <ion-slide>
            <div class="slide-image">
              <img src="assets/images/card.png" alt="" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide-image">
              <img src="assets/images/card.png" alt="" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide-image">
              <img src="assets/images/card.png" alt="" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="slide-image">
              <img src="assets/images/card.png" alt="" />
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
  </div>
</div>
