<div class="notification_content_back">
  <div class="common_head">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <h1>Notification</h1>
  </div>
  <div class="common_details_back">
    <ion-card>
      <ion-card-header>
        <ion-card-title>New Delhi to Mumbai</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="confirm">Confirmed<ion-icon name="checkmark-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mumbai to Pune</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="decline">Decline<ion-icon name="close-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mumbai to Pune</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="waiting">Waiting<ion-icon name="alert-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>New Delhi to Mumbai</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="confirm">Confirmed<ion-icon name="checkmark-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mumbai to Pune</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="decline">Decline<ion-icon name="close-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mumbai to Pune</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="waiting">Waiting<ion-icon name="alert-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>New Delhi to Mumbai</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="confirm">Confirmed<ion-icon name="checkmark-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mumbai to Pune</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="decline">Decline<ion-icon name="close-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mumbai to Pune</ion-card-title>
        <ion-card-subtitle>Ac Sleeper</ion-card-subtitle>        
      </ion-card-header>    
      <ion-card-content class="waiting">Waiting<ion-icon name="alert-circle-outline"></ion-icon></ion-card-content>
    </ion-card>
  </div>
</div>
