ion-buttons{
    position: relative;
    span{
       width: 15px; height: 15px; padding: 3px; border-radius: 100%; background-color: #fbd127; display: flex; justify-content: center; align-items: center; position: absolute; top: 6px; right: 0;
    }
  }
.add_passengers_details{
    width: 100%; display: block; padding-top: 2rem;
    .common_head{
        ion-toolbar{
            --ion-background-color: transparent;
            ion-buttons{
                position: relative;
                span{
                   width: 15px; height: 15px; padding: 3px; border-radius: 100%; background-color: #fbd127; display: flex; justify-content: center; align-items: center; position: absolute; top: 6px; right: 0;
                }
             }
        }
    }
    h1{
        span{
          font-size: 1.4rem;
        }
      }
    .common_details_back{
        width: 100%; display: block;
        ion-card{
            padding: 0; margin: 0 0 10px 0; background-color: #1b1b1b; box-shadow: none;
            ion-card-header{
                ion-card-title{
                    color: #bcbcbc;
                }
            }
            ion-card-content{
                ion-label{
                    color: #898989;
                }
                ion-row{
                    border-bottom: #717171 1px solid; padding: 5px 0;
                    &:last-child{
                        border-bottom: none;
                    }
                }
                ion-input{
                    &::placeholder{
                        color: #727272;
                    }
                }
            }
        }
        .passengers_seat_details{
            width: 100%;
            ion-card{
                ion-card-header{
                    ion-card-title{
                        font-size: 1.5rem; position: relative;
                        ion-icon{
                            position: absolute; right: 0; top: 0; bottom: 0; margin: auto;
                        }
                    }
                }
                ion-card-content{
                    ion-row{
                        border-bottom: none;
                    }
                    ion-input{
                        width: 100%; border: #717171 1px solid; height: 5rem; border-radius: 1rem; padding: 0 1rem !important;
                    }
                    ion-select{
                        height: 5rem; border: #717171 1px solid; border-radius: 1rem;
                    }
                }
                
                
            }
        }
    }
}

.button_back{
    ion-button{
        height: 4.8rem;
    }
}